<footer>
    <address> 
        <p>Контакты для связи <a href="mailto:js@example.com">Том Смит</a>.</p>
    </address>
    <p>
        <a href="/license">Лицензионное соглашение</a> | 
        <a href="/about">О сайте</a> | 
        <a href="/donation">Donations</a>
    </p>
    <p><small>© Copyright 2022 MyCorp.</small></p>

    <aside style="float:right; width:200px;">
        <h2>Testing data</h2>
        <p>
            New data in study ...
            <a href="data/id=3">View</a>
        </p>
    </aside>
</footer>