<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>BiotehLab</title>
        
        <link rel="stylesheet" type="text/css" href="static/content/style.css"/>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
        <meta name="description" content="Data analysed">
        <meta name="keywords" content="data biotech">
        <meta name="author" content="skrad">
        <meta name="viewport" content="width=device-width">

    </head>
    <body>
        <div>
        {{> nav}}
        <div>
        <div>
            {{{body}}}
        </div>
        {{> footer}}
    </body>
</html>