<main  role="main">
    <article>
        <header><h1>Descriptions methods</h1></header>
        <section>
            <h1>Methods data analised in lab</h1>
            <p>Methods are ....</p>
        </section>
        <section>
            <h1>Methods data generating in lab</h1>
            <p>Methods are ....</p>
        </section>
    </article>

    <article>
        <header><h1>Descriptions new methods</h1></header>
        <section>
            <h1>New methods data analised in lab</h1>
        </section>
    </article>

</main>